@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --background-dark: #000000;
    --foreground: #ededed;
    --foreground-secondary: #a5a5a5;
    --primary: #40cf8e;
    --primary-secondary: #289061;
    --accent: #18151a;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-dark:#f6f6f6
    --background: #f6f6f6;
    --foreground: #1b1b1b;
    --foreground-secondary: #525252;
    --primary: #40cf8e;
    --primary-secondary: #289061;
    --accent: ##18151a;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
