@tailwind base;
@tailwind components;
@tailwind utilities;

.gradientBG {
  background: rgb(73, 73, 73);
  background: linear-gradient(
    138deg,
    rgba(73, 73, 73, 1) 0%,
    rgba(55, 55, 55, 1) 0%,
    rgba(38, 38, 38, 1) 0%,
    rgba(31, 31, 31, 1) 13%,
    rgba(28, 28, 28, 1) 34%
  );
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #101010;
    --background-dark: #000000;
    --foreground: #ededed;
    --foreground-secondary: #a5a5a5;
    --primary: #40cf8e;
    --primary-secondary: #289061;
    --accent: #18151a;
    --box: #232323;
    --box-border: #333333;
    --box-accent: #757575;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  body {
    color: var(--foreground);
    background: var(--background);
  }

  h1 {
    @apply text-5xl md:text-6xl lg:text-7xl text-wrap;
  }

  h2 {
    @apply text-2xl text-wrap;
  }
  p {
    @apply text-lg text-wrap text-foreground-secondary;
  }
  .contain {
    @apply flex flex-col max-w-7xl px-10 xl:px-0;
  }
  .nav {
    @apply flex justify-center items-center  gap-2 md:gap-3 lg:gap-5 rounded-full px-2 md:px-3 lg:px-5 py-1 lg:py-2;
  }
}
